<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/auth.css">
    <title>Mods Planner</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <form action="/register" method="POST">
        <div class="form-group">
            <label for="userId">Student/Staff ID</label>
            <input id="userId" , name="userId" type="text" placeholder="Student/Staff ID" required>
            <span class="error"><%= errors?.userId ? errors.userId : '' %></span>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" , name="username" type="text" placeholder="Username" required>
            <span class="error"><%= errors?.username ? errors.username : '' %></span>
        </div>
        <div class="form-group">
            <label for="majorId">Major</label>
            <select name="majorId" id="majorId" required>
                <option selected disabled value="">Nothing is selected</option>
                <% allMajorTitles.forEach((major) => { %>
                    <option value="<%= major._id %>"><%= major.title %></option>
                <% }) %>
            </select>
            <span class="error"><%= errors?.major ? errors.major : '' %></span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" , name="password" type="password" placeholder="Password" required>
            <span class="error"><%= errors?.password ? errors.password : '' %></span>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword" , name="confirmPassword" type="password" placeholder="Confirm Password" required>
            <span class="error"><%= errors?.confirmPassword ? errors.confirmPassword : '' %></span>
        </div>
        <button type="submit">Register</button>
        <p>Already have an account? <a href="/login" style="color: lightskyblue;">Login</a></p>
    </form>
</body>
</html>