<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/index.js"></script>
    <title>Mods Planner</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h2>Plan for <%= userMajor.title %></h2>
    <section class="all-modules" id="all-modules">
        <% userMajor.modulesToClear.forEach(module => { %>
            <% if(!IdsInModulePlan.has(module._id)){ %>
                <div class="module" draggable="true" id="<%= module._id %>">
                    <b><%= module._id %></b>
                    <p><%= module.title %></p>
                </div>
            <% } %>
        <% }) %>
    </section>
    <section class="plan-modules">
        <% for(let year = 1; year < 5; year++){ %>
            <% for(let sem = 1; sem < 3; sem++){ %>
                    <% let yearSem = `Y${year}S${sem}` %>
                    <div class="semester" id="<%= yearSem %>">
                        <p>Year <%= year %> Sem <%= sem %></p>
                        <div>
                            <% modulePlan[yearSem].forEach((module) => { %>
                                <div class="module" draggable="true" id="<%= module._id %>">
                                    <b><%= module._id %></b>
                                    <p><%= module.title %></p>
                                </div>
                            <% }) %>
                        </div>
                    </div>
            <% } %>
        <% } %>
    </section>
    <br><br>
    <button id="submitBtn">Submit Module Plan</button>
</body>
</html>